*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background: #160c22;
}
/* Navigation Bar */
.navbar{
    background: #160c22;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%; 
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ffb7c5;
    background-image: linear-gradient(to top, #ffa0c5, #ffc9d7);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    display: flex;
    align-items: center; 
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/* Start Section */
.introduction{
    background: #160c22;
}

.introduction__container {
    display: block;
    align-items: center;
    justify-content: center;
    text-decoration:  none;
    margin: auto auto; 
    background-color: #160c22; 
    z-index: 1; 
    width: 100%;
    max-width: 1400px;
    padding: 100px 100px;
}

.introduction__content{
    font-size: 1rem;
    background-size: 70%;
    color: #ffb7c5;
    font-weight: 100;
}

.introduction__content h2{
    font-size: 2rem;
    background-size: 90%;
    color: #c56c0c;
    font-weight: bold;
}

.introduction__content p{
    font-size: 1rem;
    background-size: 80%;
    color: #ffb7c5;
    font-weight: 50;
}

.introduction__socials{
    font-size: 1rem;
    background-size: 80%;
    color: #ffb7c5;
    font-weight: bold;
}

.introduction__socials h1{
    font-size: 2rem;
    background-size: 100%;
    color: #c56c0c;
    font-weight: bold;
}

.introduction__socials h2{
    font-size: 1rem;
    background-size: 90%;
    color: #ffb7c5;
    font-weight: bold;
}